#login-dropdown-list {
  margin: 12px 0;
}
#login-dropdown-list a {
  font-size: 18px;
}
#login-dropdown-list input {
  height: 40px;
}
#login-dropdown-list input[type="checkbox"],
#login-dropdown-list input[type="radio"] {
  height: 20px;
}
#login-dropdown-list .checkbox label {
  font-size: 0.6em;
}

.dropzone-block {
  margin: 40px auto;
  width: 200px;
  height: auto;
}

.dropzone-block div:first-child {
  width: 120px !important;
  height: 120px !important;
  border-radius: 60px !important;
  margin: 20px auto;
}

.dropzone-block div:first-child div {
  padding: 12px 0 0 34px;
  font-size: 20px;
}

.dropzone-btn {
  margin: 20px auto;
  width: 200px;
  height: auto;
}

.dropzone-btn button {
  width: 200px;
}

.file-progress {
  margin:40px 0;
}

.file-progress img {
  display: block;
  margin: 0 auto;
}

.photo-scs, .photo-err {
  display:block;
  margin: 10px 0 0 -16px;
  color:red;
}
.photo-scs {
  color: green;
}

.user-photo img {
  display: block;
  margin: 40px auto 20px;
}

.FormError {
  color: darkred;
}
.form-group {
  margin-bottom: 0;
}
.form-group:nth-child(5) {
  margin-bottom: 20px;
}
label {
  margin: 0.6em 1em;
  color: #4c4c5d;
}

.error, .success {
  margin: 20px 0;
  font-weight: 800;
}
.error {
  color: darkred;
}
.success {
  color: green;
}

.list-group-item {
  height: 55px;
}

.insta-block {
  position: relative;
  display:flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  float: none;
  clear: both;
  margin: 60px 39px;
}

.insta-submit {
    position:relative;
    margin: 40px auto;
    float:none;
    clear:both;
}

.insta-submit button {
    width:260px;
    height:auto;
    display:block;
    margin:20px auto;
}

.recent-media-item {
  width:200px;
  height:240px;
  margin:4px 4px;
}

.recent-media-item img {
  width:100%;
  height:auto;
}

.recent-media-user-list {
  display:inline-block;
  width:100px;
  height: 100px;
}
